body {
  background-color: black;
  color: #fff;
}

.landing-page {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: rgba(255, 255, 255, 0.08);
  font-weight: bold;
  z-index: -1;
}

.content {
  text-align: center;
  z-index: 1;
}

.content h1 {
  font-size: 90px;
  color: white;
  margin-bottom: 20px;
}

.content span {
  color: #db4437;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #db4437;
  border-radius: 4px;
  color: #db4437;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: auto;
}

.google-button:hover {
  background-color: #db4437;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  padding: 10px;
}

.app-name {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.user-profile {
  display: flex;
  position: absolute;
  right: 20px;
}

.profile-picture {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.username {
  font-size: 35px;
}